{% extends 'base.html.twig' %}

{% block title %}Se connecter - Sinex-Store{% endblock %}

{% block content %}
    <div class="block-small">
    <div class="container">
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            {% for message in app.flashes('notice') %}
                <div class="alert alert-info">
                    {{message}}
                </div>
            {% endfor %}
            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}
            <div class="row">
                    <div class="col-md-3">&nbsp;</div>
                        <div class="col-md-6">
                            <div class="bg-light py-3 px-3">
                                <h1 style="text-align: center">Connectez vous</h1>
                                <label for="inputEmail">Adresse mail</label>
                                <input type="email" value="{{ last_username }}" name="email" id="inputEmail"
                                       class="form-control" autocomplete="email" required autofocus>
                                <label for="inputPassword">Mot de passe</label>
                                <input type="password" name="password" id="inputPassword" class="form-control"
                                       autocomplete="current-password" required>

                                <input type="hidden" name="_csrf_token"
                                       value="{{ csrf_token('authenticate') }}">

                                    <button type="submit" class="btn btn-lg btn-info btn-block mt-2" >Connexion</button>
                            </div>
                        </div>
                    </div>
            <hr>
            <p class="text-center"><a href="{{ path('reset_password' ) }}">Mot de passe oublié ?</a></p>
            <p class="text-center">Ou <a href="{{ path('register') }}">Crée un compte</a></p>
             </form>
        </div>
    </div>

{% endblock %}
